APP_NAME=NodeJS Microservice
APP_VERSION=1.0.0

RABBITMQ_HOST=127.0.0.1
RABBITMQ_USERNAME= 
RABBITMQ_PASSWORD= 
RABBITMQ_VIRTUAL_HOST= 
RABBITMQ_PORT = 5672

REQUEST_QUEUE_NAME = request_queue

HTTP_PORT = 3000

MONGODB_URI = 'mongodb://localhost/microdb'